[submodule "esm2_local/esm"]
	path = esm2_local/esm
	url = https://github.com/facebookresearch/esm.git
[submodule "esm2_local/esm2_t33_650M_UR50D"]
	path = esm2_local/esm2_t33_650M_UR50D
	url = https://huggingface.co/facebook/esm2_t33_650M_UR50D
[submodule "MetaLATTE"]
	path = MetaLATTE
	url = https://huggingface.co/ChatterjeeLab/MetaLATTE
[submodule "PepMLM_local"]
	path = PepMLM_local
	url = https://huggingface.co/ChatterjeeLab/PepMLM-650M
